<!DOCTYPE html>
{% load static %}
<html>
<title>Code Watcher</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!--
<style>
body {
    background-image: url('/static/home/black_background.jpg');
    background-repeat: no-repeat;
    

    
}
</style>
-->

<style>
.bgimg {
    background-image: url('/static/home/login_page_green_man.jpg');
    background-opacity: 0.1;
    background-repeat: no-repeat;
    

    
}
</style>



</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey w3-content" style="width:1600px" >
<!-- Sidebar/menu -->

<!--
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  
    
  
  
    
    <br /><br /><br /><br /></br></br></br></br></br></br></br></br>
    <h4 style="text-align: center;"><b>Welcome!</b></h4>
    <div class="w3-bar-block">
    
    <a href="/login" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Login</a>
    <a href="/login" class="w3-bar-item w3-button w3-padding"><i class="fa fa-briefcase fa-fw w3-margin-right"></i>Abouts</a>
    </div>
  
</nav>
-->

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" >

  <!-- Header -->
  <header id="home">
    
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    
    
    </div>
  </header>
    <div class="w3-section w3-bottombar w3-padding-16 w3-green">
     <h1 style="text-align: center;"><b><font color = "black">Code Watcher</font></b></h1>
    </div>
  <!--upload part try-->

  <div class="bgimg w3-container w3-padding-large w3-light-green">
    </br></br></br></br></br></br>
    <h2 id="upload"><b><font color = "black">Login Here</font></b></h2>

    <!-- 

    <hr class="w3-opacity"> 

    -->
    <form action="loginaction/" method="post">
    	{% csrf_token %}
      <div class="w3-section">
        <label><h4><b><font color = "black">User ID</font></b></h4></label>
        <input class="w3-input w3-border" style="width:50%" stype="text" name="userid" required>
      </div>
      <div class="w3-section">
        <label><h4><b><font color = "black">Password</font></b></h4></label>
        <input class="w3-input w3-border" style="width:50%" type="password" name="password" required>
      </div>
      <button style = "float: left;" type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Login</button>
    </form>
  </br></br></br></br></br></br></br></br></br></br></br></br></br>
  </div>
  <!--upload end -->

  

  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.samsung.com" title="Samsung" target="_blank" class="w3-hover-opacity">Samsung</a></div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>
